version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Europe/Dublin"
    target-branch: "master"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "automation"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:30"
      timezone: "Europe/Dublin"
    target-branch: "master"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "github-actions"
